* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(222, 184, 135, 0.67);
}

.header {
  text-align: center;
  /*Make your Heading at Center*/
  text-transform: uppercase;
  padding: 32px;
  background-color: rgb(7, 8, 62);
  color: #ffff;
  border-bottom: 6px solid red;
  /*give border Line*/


}

.gallery img {

  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 85px;
  /*Give Border line to image*/

}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery::after {
  content: "";
  width: 350px;
  /* It use for Last Iamge to in left side of web apage when it becomes two column Layout */
}